body {
    background-color: #dce4f3;
}
section {
    padding-top: 0vw;
  }

a {
    text-align: center;
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: none;
}

h3{
    text-align: center;
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    font-size: 4vw;
    margin-top:-0.8vh;
    font-weight: 300;
    color:rgb(0, 0, 0);
    margin-bottom: -1vi;
}

h1{
    text-align: center;
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    font-size: 6vi;
    font-weight: 300;
    color:rgb(0, 0, 0);
    margin-bottom: -1vi;
    margin-top: -10vh;
}


.spacer{
    height: 5vh;
    width: auto;
}
/* --------------------------- */
/* -----------TABLE----------- */
/* --------------------------- */

.foodwrapper {
    margin-top: 10vh;
}

.gridwrapper {
    position:relative;
    top: 0vh;
    min-height: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;}

.gridwrapper div a img {
    width: 100%;
}

.gridwrapper .foodpic {
    margin: auto;
    margin-right: 3vw;
    display: flex;
    width: 10vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    align-self: end;
    text-align: center;
    }

.gridwrapper .foodpic a p{
    position:relative;
    bottom: 8vh;
    justify-content: center;
    font-size:2.5vw;
    visibility: hidden;
    text-align: center;
    }


.foodpic:hover a p{
    visibility: visible;
    opacity: 1;
}

.foodpic:hover img{
    visibility: hidden;
    opacity: 0;
}


/* --------------------------- */
/* --------BIG THANOS--------- */
/* --------------------------- */

.catwrapper{
    width: 30vw;
    height: 10vh;
}

#mainpic{
    position: relative;
    left: 35vw;
    width: 25vw;
    height: 40vh;
    text-align: center;
}

#mainpic img{
    height:90%;
}

#angry{
    position: relative;
    left: 25vw;
    width: 50vw;
    top: -5vh;
    height: 50vw;
    animation: shake 0.5s infinite;
    text-align: center;
}

#angry img{
    width: 100%;
}

#sleepy{
    position: relative;
    left: 10vw;
    width: 80vw;
    height: 50vw;
    text-align: center;
}

#sleepy img{
    width:100%
}


@keyframes shake {
    0% { transform: translate(1vi, 1vi) rotate(0deg); }
    10% { transform: translate(-1vi, -2vi) rotate(-1deg); }
    20% { transform: translate(-4vi, 0vi) rotate(1deg); }
    30% { transform: translate(4vi, vix) rotate(0deg); }
    40% { transform: translate(2vi, -2vi) rotate(1deg); }
    50% { transform: translate(-1vi, 2vi) rotate(-1deg); }
    60% { transform: translate(-3vi, 1vi) rotate(0deg); }
    70% { transform: translate(3vi, 2vi) rotate(-1deg); }
    80% { transform: translate(-2vi, -2vi) rotate(1deg); }
    90% { transform: translate(2vi, 3vi) rotate(0deg); }
    100% { transform: translate(2vi, -3vi) rotate(-1deg); }
}


/* --------------------------- */
/* --------CHURU PAGE--------- */
/* --------------------------- */

#churucat{
    animation: spin 1s linear infinite;
    position:absolute;
    top: 30vh;
    left: 30vw;
    width: 50vw;
    height: 50vh;
    z-index: 2;
}

#churucat img{
    width: 100%;
    
}

#churubaby1{
    animation: bounce 0.5s linear infinite;
    position:absolute;
    top: 5vh;
    left: 5vw;
    width: 30vw;
    height: 50vh;
    z-index: 2;
}
#churubaby1 img{
    width: 80%
}

#churubaby2{
    animation: bounce 0.5s linear infinite;
    position:absolute;
    bottom: 5vh;
    right: 5vw;
    width: 30vw;
    height: 50vh;
    z-index: 2;
    text-align: center;
}

#churubaby2 img{
    width: 80%
}

#churubaby3{
    animation: bounce 0.5s linear infinite;
    position:absolute;
    top: 5vh;
    right: 5vw;
    width: 30vw;
    height: 50vh;
    z-index: 2;
}

#churubaby3 img{
    width: 80%
}

#churubaby4{
    animation: bounce 0.5s linear infinite;
    position:absolute;
    bottom: 5vh;
    left: 5vw;
    width: 30vw;
    height: 50vh;
    z-index: 2;
}

#churubaby4 img{
    width: 80%
}

.churutext {
    position: absolute;
    text-align: center;
    left: 32vw;
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    color: white;
    font-size: 10vh; 
    padding: 0px;
    z-index: 1;
}

.churutextsmall {
    position: absolute;
    text-align: center;
    left: 15vw;
    bottom: 0vw;
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    color: white;
    font-size: 5vh; 
    z-index: 1;
}

.churubackground {
    background-image: url('images/big.png');
    background-repeat: repeat;
    background-size: 10%; 
    background-position: center center; 
    margin: 0;
    overflow: hidden;
}

.churuoverlay{
    width:100vw;
    height:150vh;
    opacity: 0.5;
    animation: rainbows 5s infinite;
}

@keyframes rainbows{
    0%   {background-color: red;}
    20%  {background-color: orange;}
    40%  {background-color: yellow;}
    60%  {background-color: green;}
    80%  {background-color: blue;}
    99%  {background-color: purple;}
    100% {background-color: red;}
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce{
    0% { scale: 0.8; }
    50% { scale: 1.2; }
    100% { scale: 0.8; }
}


/* --------------------------- */
/* -------WEBRING LINK-------- */
/* --------------------------- */

.webring {
    position: relative;
    width: 10vw;
    height: 10vw;
    left: 1vw;
    top: 1vw;
}

.webring img{
    width: 80%;
}