body {
    background-color: #d61e30;
}

#headtext {
    text-align: left;
    margin-left: 5%;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    margin-top: 5%;
    font-size: larger;
    color:aliceblue;
}

#table {
    
}