body {
    background-color: #dce4f3;
}
section {
    padding-top: 0vw;
  }

a {
    text-align: center;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

h3{
    text-align: center;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 2vw;
    color:rgb(0, 0, 0);
}

h1{
    text-align: center;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 4vi;
    color:rgb(0, 0, 0);
    margin-bottom: -1vi;
}

.spacer{
    height: 5vh;
    width: auto;
}
/* --------------------------- */
/* -----------TABLE----------- */
/* --------------------------- */

.foodwrapper {
    margin-top: 60vh;
}

.gridwrapper {
    position:relative;
    top: 0vh;
    min-height: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40vh;}

.gridwrapper div a img {
    width: 100%;
}

.gridwrapper .foodpic {
    margin: auto;
    margin-right: 3vw;
    display: flex;
    width: 10vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    align-self: end;
    }

.gridwrapper .foodpic a p{
    position:relative;
    bottom: 8vh;
    justify-content: center;
    font-size: 2vw;
    visibility: hidden;
    opacity: 0;
    }


.foodpic:hover a p{
    visibility: visible;
    opacity: 1;
}

.foodpic:hover img{
    visibility: hidden;
    opacity: 0;
}


/* --------------------------- */
/* --------BIG THANOS--------- */
/* --------------------------- */

.catwrapper{
    width: 30vw;
    height: 10vh;
}

#mainpic{
    position: relative;
    left: 35vw;
    width: 30vw;
    height: 10vh;
}

#mainpic img{
    width:70%
}

#angry{
    position: relative;
    left: 25vw;
    width: 30vw;
    top: -10vh;
    height: 30vw;
    animation: shake 0.5s infinite;
}

#sleepy{
    position: relative;
    left: 23vw;
    width: 30vw;
    height: 30vw;
}


@keyframes shake {
    0% { transform: translate(1vi, 1vi) rotate(0deg); }
    10% { transform: translate(-1vi, -2vi) rotate(-1deg); }
    20% { transform: translate(-4vi, 0vi) rotate(1deg); }
    30% { transform: translate(4vi, vix) rotate(0deg); }
    40% { transform: translate(2vi, -2vi) rotate(1deg); }
    50% { transform: translate(-1vi, 2vi) rotate(-1deg); }
    60% { transform: translate(-3vi, 1vi) rotate(0deg); }
    70% { transform: translate(3vi, 2vi) rotate(-1deg); }
    80% { transform: translate(-2vi, -2vi) rotate(1deg); }
    90% { transform: translate(2vi, 3vi) rotate(0deg); }
    100% { transform: translate(2vi, -3vi) rotate(-1deg); }
}


/* --------------------------- */
/* --------CHURU PAGE--------- */
/* --------------------------- */

#churucat{
    animation: spin 1.5s linear infinite;
    position:absolute;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 60vh;
    background-color: white;
}

#churucat img{
    width: 100%
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}