/* --------------------------- */
/* ---------NIGHT MODE-------- */
/* --------------------------- */
#nightmode{
    background-color:#19183c;
    position: absolute;
    height: 100vh;
    width:102vw;
    margin-top: -2vh;
    margin-left: -2vh;
    z-index:40;
}

/* --------------------------- */
/* ---------LIGHT MODE-------- */
/* --------------------------- */
#lightmode{
    background-color:#b7ddec;
    position: absolute;
    height: 100vh;
    width:102vw;
    margin-top: -2vh;
    margin-left: -2vh;
    z-index:50;
    opacity:0;
}

#lightmode:target{
    opacity:1;
}

#bottomclouds{
    position:absolute;
    height: 100vh;
    width:102vw;
    background-color: beige;
    animation: cloudscroll 5s infinite;
}

#bottomclouds img{
    width: 10%;
    animation: cloudscroll 20s infinite;
}

/* --------------------------- */
/* ---------SETTING BAR------- */
/* --------------------------- */
#settings {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:15vh;
    z-index: 100;
  }
  

/* --------------------------- */
/* --------ICON STYLING------- */
/* --------------------------- */
#lightmodeicon{
    background-image:url(images/color_mode.png);
    position: absolute;
    top: 1vh;
    right: 11vw;
    width: 10vw;
    height: 10vh;  
    background-size: 100% 200%;
    overflow: hidden;
    background-position: 0% 0%;
}

#darkmodeicon{
    background-image:url(images/color_mode.png);
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 10vw;
    height: 10vh;  
    background-size: 100% 200%;
    overflow: hidden;
    background-position: 0% 100%;
}


#soundmode{
    position: absolute;
    top: 1vh;
    right: 21vw;
    width: 10vw;
    height: 10vh;  
}

#soundmodeslash{
    position: absolute;
    top: 5.3vh;
    right: 22vw;
    transform: rotate(-45deg);
    width: 8vw;
    height: 0.4vh;
    border-radius:20%;
    background-color: white;  
    opacity:0;
}

#wordmode{
    position: absolute;
    top: 1vh;
    right:31vw;
    width: 10vw;
    height: 10vh;  
}
#wordmode img{

}

#wordmodeslash{
    position: absolute;
    top: 5.3vh;
    right: 31vw;
    transform: rotate(-45deg);
    width: 8vw;
    height: 0.4vh;
    border-radius:20%;
    background-color: white;  
    opacity:0;
}


.icon img{
    width: 100%
}

input{
    display: none;
}

/* --------------------------- */
/* -------ICON FEEDBACK------- */
/* --------------------------- */

 #soundtoggle:checked ~ #soundmodeslash{
    opacity: 1;

}

#wordtoggle:checked ~ #wordmodeslash{
    opacity: 1;

}

#wordtoggle:checked ~ #sentence0{
    opacity: 0;
    animation: hide 10s infinite;
}
#wordtoggle:checked ~ #sentence1{
    opacity: 0;
    animation: hide 10s infinite;
}
#wordtoggle:checked ~ #sentence2{
    opacity: 0;
    animation: hide 10s infinite;
}
#wordtoggle:checked ~ #sentence3{
    opacity: 0;
    animation: hide 10s infinite;
}
#wordtoggle:checked ~ #sentence4{
    opacity: 0;
    animation: hide 10s infinite;
}
#wordtoggle:checked ~ #sentence5{
    opacity: 0;
    animation: hide 10s infinite;
}
#wordtoggle:checked ~ #sentence6{
    opacity: 0;
    animation: hide 10s infinite;
}

/* --------------------------- */
/* ------------TEXT----------- */
/* --------------------------- */

.titletext{
    position: absolute;
    top: calc(50vh - 5vh);
    left: calc(50vw - 25vw);
    width: 50vw;
    height: 10vh;  
}

.titletext p{
    animation: wobble 5s infinite;
    margin-top: 0px;
    text-align: center;
    font-size: 8vw;
    font-weight: 300;
    color:white;
}

.sentencesfast{
    font-size: 5vw;
    font-weight: 200;
    color:white;
    animation: driftright 5s infinite;
    opacity: 0;
}

.sentencesmed{
    font-size: 5vw;
    font-weight: 200;
    color:white;
    animation: driftright 7s infinite;
    opacity: 0;
}


.sentencesslow{
    font-size: 5vw;
    font-weight: 200;
    color:white;
    opacity: 0;
    animation: driftleft 8s infinite;
    
}

#sentence0{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 50vw;
    height: 10vh; 
    animation-delay: 500ms;

}

#sentence1{
    position: absolute;
    top: 10vh;
    left: 60vw;
    width: 50vw;
    height: 10vh; 
    animation-delay: 2s;
}

#sentence2{
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 50vw;
    height: 10vh; 
    animation-delay: 50ms;
}

#sentence3{
    position: absolute;
    top: 52vh;
    left: 5vw;
    width: 50vw;
    height: 10vh; 
    animation-delay: 150ms;
}


#sentence4{
    position: absolute;
    top: 60vh;
    left: 70vw;
    width: 50vw;
    height: 10vh; 
    animation-delay: 3s;
}


#sentence5{
    position: absolute;
    top: 75vh;
    left: 20vw;
    width: 50vw;
    height: 10vh; 
    animation-delay: 1s;
}

#sentence6{
    position: absolute;
    top: 85vh;
    left: 60vw;
    width: 50vw;
    height: 10vh; 
}



/* --------------------------- */
/* ---------ANIMATIONS-------- */
/* --------------------------- */

@keyframes wobble {
    0%, 100%  {transform: translateY(-1vh)}
    50%  {transform: translateY(1vh)}
  }

@keyframes driftright{
    0% {transform: translateX(-10vw);
        opacity: 0;}
    50% {opacity: 0.8;}
    100% {transform: translateX(10vh);
        opacity: 0;}
}

@keyframes driftleft{
    0% {transform: translateX(10vw);
        opacity: 0;}
    50% {opacity: 0.8;}
    100% {transform: translateX(-10vh);
        opacity: 0;}
}

@keyframes cloudscroll{
    from{left: 0vw;}
    to{left: 200vw;}
}

@keyframes hide{
    0%, 100%{opacity:0;}
}