
/* --------------------------- */
/* ---------TITLE TEXT-------- */
/* --------------------------- */

h2 {
    position: fixed;
    top: -10vh;
    left: 5vh;
    width: 50vw;
    font-size: 10vh;
    font-family: 'Rock 3D', sans-serif;
    z-index: 10;
}

h1 {
    position: fixed;
    top: -5vh;
    left: 4vh;
    width: 50vw;
    height: 10vh;  
    font-size: 12vh;
    font-family: 'Rock 3D', sans-serif;
    z-index: 10;
}

h1 span:nth-child(1) { color: #ff0000; }
h1 span:nth-child(2) { color: blue; }
h1 span:nth-child(3) { color: #139102;}
h1 span:nth-child(4) { color: red;}
h1 span:nth-child(5) { color: blue;}
h1 span:nth-child(6) { color: red; }
h1 span:nth-child(7) { color: #139102; }
h1 span:nth-child(8) { color: blue; }
h1 span:nth-child(9) { color: red; }

/* --------------------------- */
/* ---------PAGE WRAP--------- */
/* --------------------------- */
.wrapper{
    width:100vw;
    height:80vh;
    overflow:hidden;
}

/* --------------------------- */
/* ---------IMAGE GRID-------- */
/* --------------------------- */
.mainimage {
    position:absolute;
    top:18vh;
    left: calc((100vw - 55vw - 2 * 3vw)/ 2);
    z-index: 5;
}

table{
    border-spacing: 3vw;
}

td {
    width: calc(55vw / 3);
    height: calc(70vh / 3);
    text-align: center;
    overflow:hidden;

  }

td img{
    width: 100%;
}

/* --------------------------- */
/* --------RECIPE CARDS------- */
/* --------------------------- */

#exit{
    position:absolute;
    height:5vh;
    width:5vw;
    bottom:45vh;
    right:0vw;
    opacity:0;

}
#exit a{
    font-size: 6vh;
    color:rgb(117, 132, 101);
    position:relative;
    font-family: sans-serif;
    text-decoration: None;
}

.card{
    position: absolute;
    height: 50vh;
    width: 80vw;
    bottom:20vh;
    right:10vw;
    background-size: 100%; 
}

.card h1{
    position: relative;
    font-family: 'Rock 3D', serif;
    margin-left:1vw;
    margin-top:5vh;
    font-size:6vh;
    color:rgb(59, 59, 59);
    white-space: nowrap;
}

.card p{
    position: relative;
    font-family: 'Shadows into Light', serif;
    margin-left: 4vw;
    margin-top: -7vh;
    font-size: 4vh;
    line-height:4.55vh;
    color:rgb(59, 59, 59);
}

#pastacard{
    background-image: url('images/card.png');
    opacity: 0;
    z-index:0;
}
#pastacard:target{
    opacity:1;
    z-index:20;
}
#pastacard:target > #exit{
    opacity:1;
}

#tartcard{
    background-image: url('images/card.png');
    opacity: 0;
    z-index:0;
}
#tartcard:target{
    opacity:1;
    z-index:20;
}
#tartcard:target > #exit{
    opacity:1;
}

#piecard{
    background-image: url('images/card.png');
    opacity: 0;
    z-index:0;
}
#piecard:target{
    opacity:1;
    z-index:20;
}
#piecard:target > #exit{
    opacity:1;
}

#soupcard{
    background-image: url('images/card.png');
    opacity: 0;
    z-index:0;
}
#soupcard:target{
    opacity:1;
    z-index:20;
}
#soupcard:target > #exit{
    opacity:1;
}

#capresecard{
    background-image: url('images/card.png');
    opacity: 0;
    z-index:0;
}
#capresecard:target{
    opacity:1;
    z-index:20;
}
#capresecard:target > #exit{
    opacity:1;
}

#bakedcard{
    background-image: url('images/card.png');
    opacity: 0;
    z-index:0;
}
#bakedcard:target{
    opacity:1;
    z-index:20;
}
#bakedcard:target > #exit{
    opacity:1;
}
/* --------------------------- */
/* ---------BACKGROUND-------- */
/* --------------------------- */
#girl{
    position: fixed;
    z-index: 15;
    height: 10vh;
    width:20vw;
    bottom:40vh;
    right: 25vw;
}
#girl img{
    width: 100%;
}

#heirloom1{
    position: fixed;
    z-index: 0;
    height: 10vh;
    width:20vw;
    bottom:30vh;
    left: 0vw;
}
#heirloom1 img{
    width: 100%;
}

#heirloom2{
    position: fixed;
    z-index: 0;
    height: 10vh;
    width:15vw;
    bottom:50vh;
    left: 30vw;
}
#heirloom2 img{
    width: 100%;
}

#slice{
    position: fixed;
    z-index: 0;
    height: 10vh;
    width:30vw;
    top:0vh;
    right: 0vw;
}
#slice img{
    width: 100%;
}

#stack{
    position: fixed;
    z-index: 0;
    height: 20vh;
    width:10vw;
    top:58vh;
    right: 4.5vw;
}
#stack img{
    width: 100%;
    transform:scaleX(-1) rotate(10deg);
}

#hand{
    position: fixed;
    transform:rotate(90deg);
    z-index: 0;
    height: 20vh;
    width:20vw;
    bottom:60vh;
    left: 5vw;
}
#hand img{
    width: 100%;
}