html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .button{
    background-color: #FFFFFF;
  /*   border: none; */
    color: #458C0C;
    border-radius: 2vw;
  /*   padding: 1vw 1vw; */
    width: 35vw;
    margin-left: calc(50vw - 35vw * 0.5);
    height: 8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    cursor: pointer;
    font-family: serif;
  }

  #save{
    position:absolute;
    margin-top: -98vh;
    margin-left: 2vw;
    width: 15vw;
    font-size: 2vw;
    height: 3vw;
    border-radius: 1vw;
    user-select:none;
  }